In [3]:
import numpy as np
import onnxruntime as ort
import onnx
from onnx.checker import check_model
from onnx.tools import update_model_dims
import glob
import pathlib
import warnings
import torch
import json
import pandas as pd
from tqdm import tqdm

# PT Processing

In [23]:
pt_results = pd.read_json('./random_pt.json')

## Conv Errors

In [24]:
pt_results.loc[pt_results['error'] == 1].shape[0]

190

In [25]:
for i, row in enumerate(pt_results.loc[pt_results['error'] == 1]['error_des']):
    print(i, row.split("\n")[-2])
# pt_results.loc[pt_results['error'] == 1]['error_des'][0].split("\n")[-2]

0 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
1 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
2 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
3 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
4 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
5 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
6 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
7 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
8 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
9 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
10 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
11 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
12 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
13 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
14 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
15 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
16 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
17 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
18 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
19 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
20 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
21 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
22 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
23 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
24 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
25 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
26 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
27 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
28 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
29 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
30 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
31 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
32 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
33 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
34 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
35 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
36 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
37 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
38 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
39 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
40 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
41 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
42 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
43 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
44 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
45 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
46 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
47 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
48 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
49 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
50 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
51 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
52 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
53 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
54 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
55 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
56 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
57 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
58 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
59 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
60 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
61 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
62 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
63 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
64 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
65 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
66 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
67 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
68 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
69 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
70 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
71 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
72 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
73 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
74 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
75 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
76 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
77 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
78 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
79 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
80 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
81 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
82 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
83 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
84 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
85 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
86 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
87 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
88 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
89 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
90 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
91 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
92 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
93 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
94 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
95 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
96 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
97 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
98 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
99 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
100 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
101 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
102 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
103 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
104 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
105 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
106 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
107 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
108 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
109 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
110 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
111 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
112 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
113 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
114 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
115 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
116 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
117 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
118 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
119 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
120 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
121 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
122 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
123 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
124 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
125 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
126 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
127 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
128 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
129 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
130 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
131 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
132 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
133 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
134 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
135 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
136 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
137 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
138 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
139 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
140 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
141 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
142 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
143 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
144 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
145 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
146 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
147 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
148 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
149 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
150 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
151 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
152 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
153 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
154 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
155 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
156 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
157 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
158 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
159 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
160 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
161 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
162 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
163 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
164 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
165 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
166 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
167 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
168 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
169 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
170 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
171 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
172 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
173 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
174 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
175 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
176 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
177 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
178 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
179 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
180 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
181 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
182 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
183 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
184 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
185 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
186 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
187 RuntimeError: ScalarType ComplexDouble is an unexpected tensor scalar type
188 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type
189 RuntimeError: ScalarType ComplexFloat is an unexpected tensor scalar type

## Processing

In [26]:
diff_tested_pt = pt_results.loc[(pt_results['error'] == 0) & (pt_results['mean_dist'].notna())]

In [27]:
processed_table = pd.DataFrame(
    columns=pd.MultiIndex.from_product(
        [
            pt_results[["min_dist", "mean_dist", "max_dist", 'std_dev', "med_dist"]].columns,
            [
                "mad",
            ],
        ]
    ),
    index=diff_tested_pt.index,
)

In [28]:
processed_table

                  min_dist mean_dist max_dist std_dev med_dist
                       mad       mad      mad     mad      mad
15_2576916866_pt       NaN       NaN      NaN     NaN      NaN
15_1880911499_pt       NaN       NaN      NaN     NaN      NaN
15_2349686221_pt       NaN       NaN      NaN     NaN      NaN
15_912854280_pt        NaN       NaN      NaN     NaN      NaN
15_4106384593_pt       NaN       NaN      NaN     NaN      NaN
...                    ...       ...      ...     ...      ...
100_3940739593_pt      NaN       NaN      NaN     NaN      NaN
100_2834467258_pt      NaN       NaN      NaN     NaN      NaN
100_4262738135_pt      NaN       NaN      NaN     NaN      NaN
100_579105727_pt       NaN       NaN      NaN     NaN      NaN
100_427497114_pt       NaN       NaN      NaN     NaN      NaN

[389 rows x 5 columns]

In [29]:
for label, row in processed_table.iterrows():
    for col, cell in row.iteritems():
        processed_table.loc[label, col] = pt_results.loc[label, col[0]][col[1]]

## Incorrect Outputs

In [30]:
mad_median_pt_dist = processed_table['med_dist'][['mad']]
# mad_median_pt_dist = mad_median_pt_dist.join(pt_results[['num_nodes']])
mad_median_pt_dist.loc[mad_median_pt_dist ['mad'] > 1e-3]

                          mad
15_3267215162_pt          1.0
15_3007478846_pt     0.965857
15_256668487_pt      6.549249
20_691728509_pt      0.003906
20_1340384958_pt       0.0625
...                       ...
95_2843366161_pt    51.371769
95_3510495230_pt     2.241486
95_2523235145_pt  1201.538208
95_1393926397_pt     9.868408
100_427497114_pt         48.0

[94 rows x 1 columns]

## Success

In [31]:
mad_median_pt_dist.loc[mad_median_pt_dist['mad'] <= 1e-3].shape[0]

293

# PT Constrained Processing

In [33]:
pt_results = pd.read_json('./random_pt_con.json')

## Conv Errors

In [34]:
pt_results.loc[pt_results['error'] == 1].shape[0]

0

In [35]:
for i, row in enumerate(pt_results.loc[pt_results['error'] == 1]['error_des']):
    print(i, row.split("\n")[-2])
# pt_results.loc[pt_results['error'] == 1]['error_des'][0].split("\n")[-2]

## Processing

In [36]:
diff_tested_pt = pt_results.loc[(pt_results['error'] == 0) & (pt_results['mean_dist'].notna())]

In [37]:
processed_table = pd.DataFrame(
    columns=pd.MultiIndex.from_product(
        [
            pt_results[["min_dist", "mean_dist", "max_dist", 'std_dev', "med_dist"]].columns,
            [
                "mad",
            ],
        ]
    ),
    index=diff_tested_pt.index,
)

In [38]:
processed_table

                  min_dist mean_dist max_dist std_dev med_dist
                       mad       mad      mad     mad      mad
15_3490005371_pt       NaN       NaN      NaN     NaN      NaN
15_1830730569_pt       NaN       NaN      NaN     NaN      NaN
15_594356564_pt        NaN       NaN      NaN     NaN      NaN
15_3868237654_pt       NaN       NaN      NaN     NaN      NaN
15_3294824347_pt       NaN       NaN      NaN     NaN      NaN
...                    ...       ...      ...     ...      ...
100_2038814902_pt      NaN       NaN      NaN     NaN      NaN
100_723451920_pt       NaN       NaN      NaN     NaN      NaN
100_2738858578_pt      NaN       NaN      NaN     NaN      NaN
100_2322025169_pt      NaN       NaN      NaN     NaN      NaN
100_2888252205_pt      NaN       NaN      NaN     NaN      NaN

[1790 rows x 5 columns]

In [39]:
for label, row in processed_table.iterrows():
    for col, cell in row.iteritems():
        processed_table.loc[label, col] = pt_results.loc[label, col[0]][col[1]]

## Incorrect Outputs

In [40]:
mad_median_pt_dist = processed_table['med_dist'][['mad']]
# mad_median_pt_dist = mad_median_pt_dist.join(pt_results[['num_nodes']])
mad_median_pt_dist.loc[mad_median_pt_dist ['mad'] > 1e-3]

                            mad
15_1830730569_pt      77.951782
15_2701350503_pt       5.415833
15_3707774021_pt      31.257603
15_2664701379_pt       9.655439
15_2859127604_pt       0.265026
...                         ...
100_4247939447_pt  15001.112305
100_2038814902_pt      6.753756
100_723451920_pt      10.331679
100_2322025169_pt       5.96505
100_2888252205_pt     11.869654

[660 rows x 1 columns]

## Success

In [41]:
mad_median_pt_dist.loc[mad_median_pt_dist['mad'] <= 1e-3].shape[0]

1121

# TF Processing

In [56]:
tf_results = pd.read_json('./random_tf.json')

## Conv Errors

In [57]:
tf_results.loc[tf_results['error'] == 1].shape[0]

0

In [58]:
for i, row in enumerate(tf_results.loc[tf_results['error'] == 1]['error_des']):
    print(i, row.split("\n")[-2])
# pt_results.loc[pt_results['error'] == 1]['error_des'][0].split("\n")[-2]

## Processing

In [59]:
diff_tested_tf = tf_results.loc[(tf_results['error'] == 0) & (tf_results['mean_dist'].notna())]

In [60]:
processed_table = pd.DataFrame(
    columns=pd.MultiIndex.from_product(
        [
            tf_results[["min_dist", "mean_dist", "max_dist", 'std_dev', "med_dist"]].columns,
            [
                "mad",
            ],
        ]
    ),
    index=diff_tested_tf.index,
)

In [61]:
processed_table

                  min_dist mean_dist max_dist std_dev med_dist
                       mad       mad      mad     mad      mad
15_2272429665_tf       NaN       NaN      NaN     NaN      NaN
15_2215967651_tf       NaN       NaN      NaN     NaN      NaN
15_2754729144_tf       NaN       NaN      NaN     NaN      NaN
15_2523547174_tf       NaN       NaN      NaN     NaN      NaN
15_360067643_tf        NaN       NaN      NaN     NaN      NaN
...                    ...       ...      ...     ...      ...
95_131659932_tf        NaN       NaN      NaN     NaN      NaN
95_4276798741_tf       NaN       NaN      NaN     NaN      NaN
95_1660442738_tf       NaN       NaN      NaN     NaN      NaN
100_1099868669_tf      NaN       NaN      NaN     NaN      NaN
100_1021053206_tf      NaN       NaN      NaN     NaN      NaN

[226 rows x 5 columns]

In [62]:
for label, row in processed_table.iterrows():
    for col, cell in row.iteritems():
        processed_table.loc[label, col] = tf_results.loc[label, col[0]][col[1]]

## Incorrect Outputs

In [63]:
mad_median_tf_dist = processed_table['med_dist'][['mad']]
# mad_median_pt_dist = mad_median_pt_dist.join(pt_results[['num_nodes']])
mad_median_tf_dist.loc[mad_median_tf_dist ['mad'] > 1e-3].shape[0]

37

## Success

In [64]:
mad_median_tf_dist.loc[mad_median_tf_dist['mad'] <= 1e-3].shape[0]

184

# TF Constrained Processing

In [43]:
tf_results = pd.read_json('./random_tf_con.json')

## Conv Errors

In [44]:
tf_results.loc[tf_results['error'] == 1].shape[0]

0

In [45]:
for i, row in enumerate(tf_results.loc[tf_results['error'] == 1]['error_des']):
    print(i, row.split("\n")[-2])
# pt_results.loc[pt_results['error'] == 1]['error_des'][0].split("\n")[-2]

## Processing

In [46]:
diff_tested_tf = tf_results.loc[(tf_results['error'] == 0) & (tf_results['mean_dist'].notna())]

In [47]:
processed_table = pd.DataFrame(
    columns=pd.MultiIndex.from_product(
        [
            tf_results[["min_dist", "mean_dist", "max_dist", 'std_dev', "med_dist"]].columns,
            [
                "mad",
            ],
        ]
    ),
    index=diff_tested_tf.index,
)

In [48]:
processed_table

                  min_dist mean_dist max_dist std_dev med_dist
                       mad       mad      mad     mad      mad
15_3733555507_tf       NaN       NaN      NaN     NaN      NaN
15_701804835_tf        NaN       NaN      NaN     NaN      NaN
15_1153834586_tf       NaN       NaN      NaN     NaN      NaN
15_1003585824_tf       NaN       NaN      NaN     NaN      NaN
15_3897125719_tf       NaN       NaN      NaN     NaN      NaN
...                    ...       ...      ...     ...      ...
100_41060463_tf        NaN       NaN      NaN     NaN      NaN
100_177588628_tf       NaN       NaN      NaN     NaN      NaN
100_3351817712_tf      NaN       NaN      NaN     NaN      NaN
100_341206565_tf       NaN       NaN      NaN     NaN      NaN
100_2221625129_tf      NaN       NaN      NaN     NaN      NaN

[813 rows x 5 columns]

In [53]:
for label, row in processed_table.iterrows():
    for col, cell in row.iteritems():
        processed_table.loc[label, col] = tf_results.loc[label, col[0]][col[1]]

## Incorrect Outputs

In [55]:
mad_median_tf_dist = processed_table['med_dist'][['mad']]
# mad_median_pt_dist = mad_median_pt_dist.join(pt_results[['num_nodes']])
mad_median_tf_dist.loc[mad_median_tf_dist ['mad'] > 1e-3].shape[0]

31

## Success

In [52]:
mad_median_tf_dist.loc[mad_median_tf_dist['mad'] <= 1e-3].shape[0]

763